
<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
             KIDO
        </title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/app.css">

    </head>

     <body>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand " href="#">KDIO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Stories <span class="sr-only">(current)</span></a>
      </li>
      
      
      
    </ul>
    
    <button class="log btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/register">SignUp</a></button>
    <button class="log btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/login">LogIn</a></button>
  </div>
</nav>





<h2>
	About Us
		 </h2>

<div class="jumbotron call">
  <h3>What is KDIO and To Whom its usefull?</h3>
  <p class="lead">KDIO is free and fast Online Report sharing platform in Rular India.</p>
  <hr class="my-4">
  <p>KDIO is free and fast Online Report sharing platform in Rular areas of india.Platform can be used by the small Business for maintaining records , Sharing Bills and Reports  digitally to the customers.Soon KIDO will help farmers to get best price on there Livestocks(cow,buffalo,ox) at the time of Buying/Selling. These will make the digital life more faster into rular areas. if you have KIDO then you will not need any third party software for managing your reports and bills. As KIDO is free and open to all .Use KIDO and make your self Digital. </p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
</div>


<div class="jumbotron call">
  <h3>Whats our motto?</h3>
  <p class="lead">A small step towards Digital India!</p>
  <hr class="my-4">
  <p>Digital India was a campaign launched by the Government of India in order to ensure the Government's services are made available to citizens electronically by improved online infrastructure and by increasing Internet connectivity or making the country digitally empowered in the field of technology. The initiative includes plans to connect rural areas with high-speed internet networks. Digital India consists of three core components: the development of secure and stable digital infrastructure, delivering government services digitally, and universal digital literacy.Hence for suppoting and developing these all areas .its a small contribution from zsploit and team. </p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
</div>


<div class="jumbotron call">
  <h3>Who build it?</h3>
  <p class="lead">Build by Zsploit Team</p>
  <hr class="my-4">
	
  <p>KDIO
 took birth from the parent organization called Zsploit
 (zsploit
.co.in) .
 whic
h is an
 cyber security Info. Zsploit
 was build by Team of Enthusiastic Engineer for keeping the cyber space free and aware from black and grey
 hats. But as social responsiblity
 toward the ruler India and its development ,
 both came up with the solution called KDIO
 an online 
 Digital report and Bills 
 sharing platform .
Which is free ,
 fast and open to all.</p>
  <a class="btn btn-primary btn-lg" href="https://www.zsploit.co.in/" role="button">Zsploit >></a>
</div>