
<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/app.css">
        <title>
            demo app
        </title>
     

    </head>

     <body>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand " href="#">KDIO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/aboutus">About <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Stories <span class="sr-only">(current)</span></a>
      </li>
      
      
      
    </ul>
    
    <button class="log btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/register">SignUp</a></button>
    <button class="log btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/login">LogIn</a></button>
  </div>
</nav>

<div class="card text-center">
  
  <div class="card-body">
    <h2 class="card-title">Today's Milk Feeding Form</h2>
    
    
  </div>
  <div class="card-footer text-muted">
    Hey Admii.. fill the details below :(
  </div>
</div>

<div class="container">
<form action="/update" method="POST">
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">MilkID</label>
      <input type="text" class="form-control" name="milkid2">
    </div>
	<div class="form-group col-md-6">
      <label for="inputPassword4">Milk QT</label>
      <input type="text" class="form-control" name="Milkqt">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">FAT:</label>
      <input type="text" class="form-control" name="deg">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">SNF</label>
      <input type="text" class="form-control" name="snf">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">PROTIEN:</label>
      <input type="text" class="form-control"  name="pro">
    </div>
  </div>
  
<div>
<button type="button" class="btn btn-secondary btn-lg jam"  onclick="window.location.href = '/update';">Cancle</button>
<button type="button" class="btn btn-danger btn-lg jam" onclick="window.location.href = '/logout';">LogOut</button>
<button type="button" class="btn btn-info btn-lg jam" onclick="window.location.href = '/list';">Report</button>	
	
<button type="submit" class="btn btn-success btn-lg jam">Submit</button>
</div>
 
</form>
</div>

		 
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead">!! Handcrafted for Rular India !!</p>
  </div>
</div>
 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>