<h1>Daily milk feeding</h1>

<form action="/dailymilk" method="POST">
   
    
	<input type="text" name="MilkID1" placeholder="MilkID">
	
	<input type="text" name="deg" placeholder="Degree">
	<input type="text" name="snf" placeholder="SNF">
	<input type="text" name="pro" placeholder="Protine">
	
	
    <button>Submit</button>
</form>