<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
             KIDO
        </title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="/stylesheets/app.css">

    </head>

     <body>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand " href="#">KDIO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="aboutus">About <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Stories <span class="sr-only">(current)</span></a>
      </li>
      
      
      
    </ul>
    
	  <button class="log btn btn-outline-success my-2 my-sm-0" type="submit" onclick="window.location.href = '/register';">SignUp</button>
    <button class="log btn btn-outline-success my-2 my-sm-0" type="submit" onclick="window.location.href = '/login';">LogIn</button>
  </div>
</nav>

      
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">KDIO Platform</h1>
    <p class="namo">The only free and fast Reports/Bills sharing platform in Rular Areas of Digital India.</p>
	  <a href="/register" class="btn btn-outline-success">Get Started</a>
	 
  </div>
</div>



<div class="container">
	<div class="card text-center">
		<div class="card-title">Dashboards</div>
		<button type="button" class="btn btn btn-warning btn-lg btn-block "  onclick="window.location.href = '/update';">Admin's Dashboard</button>
      <button type="button" class="btn btn-warning btn-lg btn-block"  onclick="window.location.href = '/clint';">Client's Dashboard</button>
		 </div>
		 </div>
<div class="container">
	
		 
<div class="card text-center">
  
  <div class="card-body">
    <h5 class="card-title">Know More About KIDO</h5>
    
    <a  class="btn btn-success" onclick="window.location.href = '/aboutus';">Click Me</a>
  </div>
	</div>
</div>



<div class="container kalu">
<div class="card text-center malu">
  <div class="card-header">
  Important government schemes in Agriculture sector.
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <li>E-NAM</li>
      <li>National Mission For Sustainable Agriculture (NMSA)</li>
      <li>Pradhan Mantri Krishi Sinchai Yojana (PMKSY)</li>
      <li>Paramparagat Krishi Vikas Yojana (PKVY)</li>
      <li>Pradhan Mantri Fasal Bima Yojana (PMFBY)</li>
      <li>Gramin Bhandaran Yojna</li>
      <a href="https://www.indiatoday.in/" class="btn btn-primary">Read More</a>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">India Today</cite></footer>
    </blockquote>
  </div>
</div>
</div>

<!--card-->
<div>
	
</div>
<div class="container">
<div class="card-deck">
  <div class="card">
    <img src="https://www.indianeagle.com/travelbeats//wp-content/uploads/2014/11/Mawlynnong-in-Meghalaya-stories-of-rural-India.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mawlynnong, the cleanest village in India  </h5>
      <p class="card-text">Mawlynnong is the cleanest village not only in India but in Asia. Discover India Magazine awarded Mawlynnong the prestigious title “Cleanest Village in Asia” in 2003. A small village in Meghalaya, one of the seven northeast Indian states, Mawlynnong does not tolerate littering of rubbish.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="https://www.indianeagle.com/travelbeats//wp-content/uploads/2014/11/Hiware-Bazar-Ahmednagar-in-maharashtra-stories-of-rural-India.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hiware Bazar, a village of millionaires in Maharashtra</h5>
      <p class="card-text">The credit for Hiware Bazar’s surprising transformation from a village of poverty to a village of riches goes to Popatrao Pawar. He called for banning of addictive substances including tobacco and alcohol in the village, which helped the villagers to curtail expenses and invest in various projects. Today, Hiware Bazar has 60 millionaires. There are only three families living below the poverty line.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
 
  
</div>
</div>

<div class="container kalu">
<button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/story';">Share Your Own Stories > > > ></button>
</div>
		 <div class="container ">     
<div class="card text-center malu">
  <div class="card-header">
    KDFarms..
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Initiative by kamal datta Agro Farms PVT</p>
      <footer class="blockquote-footer">Director KDfarms <cite title="Source Title">(Sources->kamaldattafarms.co.in)</cite></footer>
    </blockquote>
  </div>
</div>
</div>



<div class="container">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://d3nn873nee648n.cloudfront.net/900x600/15257/120-SM607149.jpg" class="d-block w-100 img-thumbnail" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First </h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://d3nn873nee648n.cloudfront.net/900x600/13347/220-SM469770.jpg" class="d-block w-100  img-thumbnail" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second </h5>
        <p>.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://d3nn873nee648n.cloudfront.net/900x600/2174/18-SM83045.jpg" class="d-block w-100  img-thumbnail" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third </h5>
        <p></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>








<!--footer -->



	 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead">!! Handcrafted for Rular India !!</p>
	   <div class="card">
		  <p>
			  @ KDIO 2020 
			  <a href="/terms">Terms and Conditions. Privacy Policy. Intellectual Property Policy</a>
			 
		  </p>
	  </div>
  </div>
</div>

 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		 
		 
	
    </body>
</html>






