
<!DOCTYPE html>
<html>
    <head>
        <title>
            KIDO
        </title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/app.css">

    </head>

     <body>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand " href="#">KDIO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Stories <span class="sr-only">(current)</span></a>
      </li>
      
      
      
    </ul>
    
    <button class="log btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/register">SignUp</a></button>
    <button class="log btn btn-outline-success my-2 my-sm-0" type="submit"><a href="/login">LogIn</a></button>
  </div>
</nav>
		 <div class="jumbotron">
  <h2 class="display-4">LiveStock Market!</h2>
  <p class="lead"><img src="https://smartagripost.com/wp-content/uploads/2019/07/Developing-livestock-in-Balochistan.jpg" class="card-img-top" alt="..."></p>
  <hr class="my-4">
  <p>Wana sell your livestocks? Not to worry because KDIO is here with the Livestock market at your finger tips :)</p>
  
</div>

<div class="container">
					 
			<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Category:Cow</h5>
        <p class="card-text"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Cow_female_black_white.jpg/1200px-Cow_female_black_white.jpg" class="card-img-top" alt="..."></p>
       
		  <a href="/livestock/sell" class="btn btn-primary">Enter Category Here ></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Category:Buffalo</h5>
        <p class="card-text"><img src="https://images-na.ssl-images-amazon.com/images/I/41-Blk6GGPL.jpg" alt="..."></p>
       
		  <a href="/livestock/sell" class="btn btn-primary">Enter Category Here ></a>
      </div>
    </div>
  </div>
</div>		 
	
	
				<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Category:Ox</h5>
       <p class="card-text"><img src="https://cdn.pixabay.com/photo/2017/08/04/09/39/indian-cow-2579534_960_720.jpg" class="card-img-top" alt="..."></p>
       
		  <a href="/livestock/sell" class="btn btn-primary">Enter Category Here ></a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Category:Others</h5>
        <p class="card-text"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXvcv7ZG5P8f7vIAddj861G4UbS625xOGrAye2rdcsHERkAI6y&usqp=CAU" class="card-img-top" alt="..."></p>
         
		  <a href="/livestock/sell" class="btn btn-primary">Enter Category Here ></a>
      </div>
    </div>
  </div>
</div>	
			 
					 </div>

		 
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead">!! Handcrafted for Rular India !!</p>
  </div>
</div>
 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>