<h1>
	here you will update the values;
	
	
</h1>

<form action="/update" method="POST">
	
    <input type="text" name="milkid2" placeholder="milkid2">
    <input type="text" name="deg" placeholder="dgree">
	<input type="text" name="snf" placeholder="snf">
	<input type="text" name="pro" placeholder="pro">
	
	
    <button>Submit</button>
</form>